.header {
  height: 100px;
  background-color: beige;
}

.logo {
  width: 200px;
  height: 60px;
  position: relative;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.selectLanguage {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  top: 2rem;
}
