.header {
  height: 100px;
  background-color: beige;
}

.content-width {
  margin: 0 auto;
  min-width: 283px;
  max-width: 1048px;
  height: 100%;
}

.logo {
  width: 200px;
  height: 60px;
  position: relative;
  margin-top: 1.5rem;
}

.selectLanguage {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  top: 2rem;
}
